@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'JujutsuKaisen';
    src: url('/fonts/Jujutsu Kaisen.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

body {
    background: #000000;
    /* font-family: 'JujutsuKaisen', sans-serif; */
}
.image {
    background-image: url(https://res.cloudinary.com/dmye53wps/image/upload/v1722656956/dots_knup2u.gif);
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    color: #fff;
  }
  .image2 {
    background-image: url(https://res.cloudinary.com/dmye53wps/image/upload/v1722689235/util_etpjpw.jpg);
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    color: #fff;
  }
  .image3 {
    background-image: url(https://res.cloudinary.com/dmye53wps/image/upload/v1722690997/Goj_emba9d.png);
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    color: #fff;
  }
  .content {
    display: grid;
  }
  .homebtn {

background: linear-gradient(90deg, #FDFF98 1.61%, #FF9E99 37.95%, #FFCC00 74.3%, #FF0004 110.64%);
  }
  .hometext {
    background-image: linear-gradient(90deg, #FDFF98 1.61%, #FF9E99 37.95%, #FFCC00 74.3%, #FF0004 110.64%);

    color: transparent;
    background-clip: text; 
  }
  .font {
    font-family: 'JujutsuKaisen', sans-serif;
  }
  .smalltext{

    background: linear-gradient(205.6deg, #D9DAD9 16.74%, #737473 64.66%);

    color: transparent;
    background-clip: text; 
  }
  .close {
    z-index: 1000;
    /* padding-right: 40px; */
    position: relative;
  }
